<html lang="en">
<head>
	<%- include("../partials/head.ejs") -%>
	<title>News</title>
	<link rel="stylesheet" href="/css/articlesPage.css">
</head>
<body>
	<%- include("../partials/header.ejs") -%>
	<% if (auth) { %>
	<p id='createArticle' class="h2 m-4"><a href="/news/create/"> Написать свою статью </a></p>
	<% } %> 
	<div class="container-grid">
	  <div class="row" id='rowDiv'>
		<% articles.forEach((article) => { %>	
	    <div class="card col-md-2">
	      <img src="<%= article[1] %>" class="card-img-top" width="400" height='300'>
  
	      <div class="card-body">
	        <h5 class="card-title"><%= article[0].title %></h5>
	      </div>
	      <ul class="list-group list-group-flush">
	        <li class="list-group-item"><small class="text-muted">Дата: <%= article[0].date %></small></li>
	        <li class="list-group-item"><small class="text-muted">Автор: <%= article[0].authorName %></small></li>
		    <li class="list-group-item h3"><a href="<%= article[0]._id %>"> Прочитать сейчас </a></p></li>
	      </ul>
	    </div>
		<% }) %>
	  </div>
	  </div>
	</div>

	<%- include("../partials/footer.ejs") -%>
</body>
</html>