<html lang="en">
<head>
	<%- include("../partials/head.ejs") -%>
	<title>News</title>
	<link href="newsPage.css" rel="stylesheet" />
</head>
<body>
	<%- include("../partials/header.ejs") -%>
		<p id='createArticle'><a href="/news/create/"> Create your own article</a></p>

		<div class="newsdata">
		<% articles.forEach((article) => { %>	
	      <h4 class="text-primary"><%= article.title %></h4>
	      <a href="<%= article._id %>">Read now -> </a></p>
  		<% }) %>
		</div>


	<%- include("../partials/footer.ejs") -%>
</body>
</html>