<html lang="en">
<head>
	<%- include("../partials/head.ejs") -%>
	<title>News</title>
</head>
<body>
	<%- include("../partials/header.ejs") -%>
	<div class="container">
		News Page
		<!-- <div class="newsdata">
			<% articles.forEach((article) => { %>
				<%= article.name %>
				<%= article.text %> 
			<% }) %>
		</div> -->
		<p><a href="/news/create/"> Create your own article</a></p>
	</div>

	<%- include("../partials/footer.ejs") -%>
</body>
</html>